* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}
.modal-backdrop.show {
  display: none;
}
/*#region myHeader*/
.myHeader {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.myHeader .navbar-toggler {
  outline: none;
}

.myHeader .navbar-brand img {
  height: 3.125rem;
}

.myHeader .navbar-nav .nav-link {
  color: #000 !important;
  font-size: 1rem;
}

.myHeader .navbar-nav .nav-link:hover {
  color: #fb4226 !important;
}

.myHeader .menu-right a {
  padding: 0rem 0.75rem;
  text-decoration: none;
  color: #9b9b9b;
  font-size: 0.875rem;
}

.myHeader .menu-right .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myHeader .menu-right .login i {
  font-size: 1.3rem;
  line-height: 1px;
  margin-right: 1rem;
}

.myHeader .menu-right .location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myHeader .menu-right .location .city .namecity {
  color: #949494;
  border: none;
}
/*#region dang nhap dang ky*/
.myHeader .modal-dang-nhap {
  background: rgba(10, 32, 41, 0.9);
}
.myHeader .modal-dang-nhap .modal-dialog {
  padding: 0 50px;
}
.myHeader .modal-dang-nhap .modal-dialog .modal-header {
  border: none;
}
.myHeader .modal-dang-nhap .modal-dialog .modal-header button:focus {
  outline: none;
}
.myHeader .modal-dang-nhap .modal-dialog .modal-content .modal-body ul {
  font-size: 20px;
}

.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  ul
  li
  .nav-link {
  color: #cac9c9;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  ul
  li
  .nav-link.active {
  color: #00ac4d;
  border-bottom: 5px solid #00ac4d;
  background: none;
  font-size: 22px;
  font-weight: 500;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangnhap {
  margin: 0 auto;
  text-align: center;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangnhap
  input {
  border: none;
  border-bottom: 1px solid #8c8181;
  border-radius: 0;
  width: 80%;
  display: inline;
  margin-top: 20px;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangnhap
  .form-control:focus {
  box-shadow: none;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangnhap
  input::placeholder {
  color: #7ebe9b;
  font-size: 16px;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangnhap
  button {
  margin-top: 50px;
  background: #fb4226;
  border: none;
  outline: none;
  width: 80%;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangnhap
  i {
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 10px;
  color: rgb(184, 176, 176);
  height: 60px;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangnhap
  i
  p {
  cursor: pointer;
  color: #00ac4d;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangnhap
  i
  p:hover {
  font-size: 18px;
}

.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangky {
  text-align: center;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangky
  form
  input {
  border: none;
  border-bottom: 1px solid #908989;
  margin-top: 20px;
  border-radius: 0;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangky
  form
  input::placeholder {
  color: #7ebe9b;
  font-size: 16px;
}
.myHeader
  .modal-dang-nhap
  .modal-dialog
  .modal-content
  .modal-body
  .tab-content
  .content-dangky
  form
  button {
  background: #fb4226;
  width: 80%;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin: 50px 0;
}
/*#endregion dang nhap dang ky*/

/*#endregion myHeader*/

/*#region myCarousle*/

.myCarousel {
  position: relative;
  margin-top: 4.7rem;
}

.myCarousel .carousel-content .carousel-item {
  opacity: 0;
  transition: opacity ease-out 0.7s;
}

.myCarousel .carousel-content .carousel-item.active,
.myCarousel .carousel-content .carousel-item-next.carousel-item-left,
.myCarousel .carousel-content .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.myCarousel .carousel-content .active.carousel-item-left,
.myCarousel .carousel-content .active.carousel-item-right {
  opacity: 0;
}

.myCarousel .carousel-content .carousel-item-next,
.myCarousel .carousel-content .carousel-item-prev,
.myCarousel .carousel-content .carousel-item.active,
.myCarousel .carousel-content .active.carousel-item-left,
.myCarousel .carousel-content .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.myCarousel .carousel-content .carousel-control-prev-icon {
  width: 3.125rem;
  height: 3.125rem;
  background-image: url(../../img/back-session.png);
}

.myCarousel .carousel-content .carousel-control-next-icon {
  width: 3.125rem;
  height: 3.125rem;
  background-image: url(../../img/next-session.png);
}

.myCarousel .modal-video .playvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.myCarousel .modal-video .playvideo img {
  transform: translate(-50%, -50%);
}

.myCarousel .modal-video .modal-dialog {
  width: 0;
}

.myCarousel .modal-video .texts {
  display: flex;
}

.myCarousel .modal-video .texts .cl {
  width: 2rem;
  height: 2rem;
  border: 2px solid #ffffff;
  border-radius: 50rem;
  text-align: center;
}

.myCarousel .modal-video .texts .cl button span {
  color: #ffffff;
}

/*#region modal video*/
.myCarousel .video-modal .modal-content {
  background: none;
  border: none;
  width: 1050px;
  height: 550px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, 0%);
}
.myCarousel .video-modal .modal-content .modal-header {
  border: none;
}
.myCarousel .video-modal .modal-content .modal-header button {
  margin: -1rem -3rem -2rem auto;
  z-index: 1;
  outline: none;
}
.myCarousel .video-modal .modal-content .modal-header button:hover {
  opacity: 1;
}
.myCarousel .video-modal .modal-content .modal-header button span {
  background: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
}
.myCarousel .video-modal .modal-content .modal-body {
  width: 1050px;
  height: 550px;
}
/*#endregion modal video*/

/*#endregion myCarousle*/

/*#region Hometool*/

.filmsBlock .container {
  position: relative;
}

.filmsBlock .container .nav-chon-phim {
  background: #ffffff !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 15px 30px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 5px rgb(14 14 14 / 30%);
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
}

.filmsBlock .container .nav-chon-phim .nav-inner {
  display: flex;
}

.filmsBlock .container .nav-chon-phim .nav-inner .list-tab-select {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: unset;
}

.filmsBlock
  .container
  .nav-chon-phim
  .nav-inner
  .list-tab-select
  .form-control {
  border: none;
  width: 18%;
  cursor: pointer;
}
.filmsBlock
  .container
  .nav-chon-phim
  .nav-inner
  .list-tab-select
  .form-control:focus {
  padding: 0;
  box-shadow: none;
}

.filmsBlock .container .nav-chon-phim .nav-inner .list-tab-select span {
  width: 18%;
  padding: 15px 0;
  cursor: pointer;
}

/*#endregion Hometool*/

/*#region filmsBlock*/
.filmsBlock .container .filmsNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem !important;
}

.filmsBlock .container .filmsNav .nav-tabs p {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  margin: 0 30px;
  width: 150px;
  padding: 5px 15px;
  background: #00ac4d;
  font-size: 20px;
  transition: all 0.2s linear;
}

.filmsBlock .container .filmsNav .nav-tabs .text-nav:first-child ::before,
.filmsBlock .container .filmsNav .nav-tabs .text-nav:last-child ::after {
  content: "";
  height: 40px;
  background: #00ac4d;
  transform: skewX(330deg);
  position: absolute;
  top: 0;
  width: 40px;
  bottom: 0;
  right: -20px;
  transition: all 0.2s linear;
}
.filmsBlock .container .filmsNav .nav-tabs .text-nav:last-child ::after {
  right: unset;
  left: -20px;
  background: #00ac4d;
  height: 40px;
  width: 40px;
  transition: all 0.2s linear;
}

.filmsBlock .container .filmsNav .nav-tabs {
  border-bottom: none;
  align-items: center;
  justify-content: center;
}

.filmsBlock .container .filmsNav .nav-tabs .active,
.filmsBlock .container .filmsNav .nav-tabs .text-nav {
  border: none;
  padding: 0;
}

.filmsBlock .container .filmsNav .text-nav p:hover {
  background: #00ac4d;
  padding: 15px 25px;
  width: 200px !important;
  font-size: 25px;
  transition: all 0.2s linear;
}

.filmsBlock .container .filmsNav .nav-tabs .text-nav p:hover::after,
.filmsBlock .container .filmsNav .nav-tabs .text-nav p:hover::before {
  height: 67px;
  background: #00ac4d;
  width: 45px;
  transition: all 0.2s linear;
}

.filmsBlock .container .filmsNav .nav-tabs .active p {
  background: #fb4226;
  padding: 15px 25px;
  width: 200px;
  height: 67px;
  font-size: 25px;
  transition: all 0.2s linear;
}
.filmsBlock .container .filmsNav .nav-tabs .active:first-child ::before,
.filmsBlock .container .filmsNav .nav-tabs .active:last-child ::after {
  height: 67px;
  background: #fb4226;
  transition: all 0.2s linear;
}
.filmsBlock .container .filmsNav .nav-tabs .active p:hover::after,
.filmsBlock .container .filmsNav .nav-tabs .active p:hover::before {
  background: #fb4226;
}

/* list phim  */

.filmsBlock .container .films-list .list-item-phim .owl-prev,
.filmsBlock .container .films-list .list-item-phim .owl-next {
  position: absolute;
  top: 28%;
  left: -3%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin: 0;
  opacity: 1;
  box-shadow: 0 2px 4px 1px rgb(20, 23, 28, 50%);
  transition: all 0.2s linear;
}

.filmsBlock .container .films-list .list-item-phim .owl-prev:hover,
.filmsBlock .container .films-list .list-item-phim .owl-next:hover {
  background: #fff;
  width: 65px;
  height: 65px;
  line-height: 65px;
  transition: all 0.2s linear;
}

.filmsBlock .container .films-list .list-item-phim .owl-prev:hover span,
.filmsBlock .container .films-list .list-item-phim .owl-next:hover span {
  color: #fb4226;
  line-height: 50px;
  transition: all 0.2s linear;
}

.filmsBlock .container .films-list .list-item-phim .owl-next {
  left: unset;
  right: -3%;
}
.filmsBlock .container .films-list .list-item-phim .owl-prev span,
.filmsBlock .container .films-list .list-item-phim .owl-next span {
  color: rgba(251, 66, 38, 0.2);
  font-size: 80px;
  font-weight: 500;
  line-height: 47px;
  margin-right: 5px;
  transition: all 0.2s linear;
}
.filmsBlock .container .films-list .list-item-phim .owl-next span {
  margin-right: unset;
  margin-left: 5px;
}

.filmsBlock .container .films-list .list-item-phim .owl-prev:focus p {
  font-size: 50px;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films {
  width: 100%;
  height: 100%;
  position: relative;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info {
  position: relative;
  height: 25rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info
  img {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info
  .film-type-label {
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info
  .film-type-label
  img {
  width: 10rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info
  .item-point {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: center;
  width: 4rem;
  height: 2.5rem;
  background: rgba(55, 58, 49, 0.85);
  border-radius: 0.2rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info
  .item-point
  p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: -0.7rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info
  .item-point
  i {
  color: #fb4226;
  font-size: 0.5rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info
  .sneakshow {
  width: 9rem;
  height: 2rem;
  background: #fb4226;
  border-radius: 0.7rem;
  padding-top: 0.2rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films-info
  .sneakshow
  p {
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films--detail {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000000, transparent);
  border-radius: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  cursor: pointer;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films--detail
  .play {
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: 50%;
  right: 50%;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .thumbnail-films
  .thumbnail-films--detail
  .play
  img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
}

.filmsBlock .container .films-list .list-item-phim .item-films .content-item {
  padding: 1rem 0;
  position: relative;
  height: 7rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .content-item
  .content-item-info
  .tag {
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
  background: #fb4226;
  border-radius: 0.3rem;
  text-align: center;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .content-item
  .content-item-info
  .tag
  p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .content-item
  .content-item-info
  .tag-P {
  background: #00ac4d;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .content-item
  .content-item-info
  span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 1rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .content-item
  .content-item-info
  h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #a5a5a5;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .content-item
  .content-item-detail {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films
  .content-item
  .content-item-detail
  button {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background: #fb4226;
  color: #ffffff;
  width: 100%;
  padding: 1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  margin-top: 1rem;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films:hover
  .thumbnail-films--detail,
.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films:hover
  .content-item-detail {
  visibility: visible;
}

.filmsBlock
  .container
  .films-list
  .list-item-phim
  .item-films:hover
  .content-item-info {
  display: none;
}

/*#region modal-video-phim-item*/
.filmsBlock .container .modal-video-phim-item {
  padding: 0;
  background: rgba(10, 32, 41, 0.9);
}

.filmsBlock .container .modal-video-phim-item .modal-dialog .modal-content {
  width: 900px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: -40%;
  background: none;
  border: none;
  transform: translate(10px, -55px);
}

.filmsBlock
  .container
  .modal-video-phim-item
  .modal-dialog
  .modal-content
  .modal-header {
  border: none;
}

.filmsBlock
  .container
  .modal-video-phim-item
  .modal-dialog
  .modal-content
  .modal-header
  button {
  transform: translate(25px, 60px);
  z-index: 1;
}

.filmsBlock
  .container
  .modal-video-phim-item
  .modal-dialog
  .modal-content
  .modal-header
  button:hover {
  opacity: 1;
}

.filmsBlock
  .container
  .modal-video-phim-item
  .modal-dialog
  .modal-content
  .modal-header
  button:focus {
  outline: none;
}

.filmsBlock
  .container
  .modal-video-phim-item
  .modal-dialog
  .modal-content
  .modal-header
  button
  span {
  background: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
}

.filmsBlock
  .container
  .modal-video-phim-item
  .modal-dialog
  .modal-content
  .modal-body {
  width: 100%;
  height: 100%;
}

/*#endregion modal-video-phim-item*/

/*#endregion filmsBlock*/

/*#region homeCinema*/
.homeCinema .title {
  margin-top: 50px;
  text-align: center;
}
.homeCinema h3 {
  background: #fb4226;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  display: inline-block;
  padding: 20px 50px;
  border-radius: 0 75px;
}
.homeCinema .container {
  border: 1px solid #ebebec;
}

.homeCinema .container .homeCinemalist .cinema-item {
  border-right: 1px solid #ebebec;
}

.homeCinema .container .homeCinemalist .cinema-item .cinemalogo .logo {
  padding: 1rem 0;
  border-bottom: 1px solid #ebebec;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemalogo
  .logo
  .nav-link {
  padding: 0;
}

.homeCinema .container .homeCinemalist .cinema-item .cinemalogo .logo img {
  width: 100%;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinema-item-inner
  .tab-content
  .item {
  margin-top: 1rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinema-item-inner
  .tab-content
  .item
  .content {
  border-bottom: 1px solid #ebebec;
  padding-bottom: 1rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinema-item-inner
  .tab-content
  .item
  .content
  img {
  width: 4rem;
  height: 4rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinema-item-inner
  .tab-content
  .item
  .content
  .address {
  margin-left: 1rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinema-item-inner
  .tab-content
  .item
  .content
  .address
  p {
  margin: 0;
  font-weight: 500;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinema-item-inner
  .tab-content
  .item
  .content
  .address
  p
  b {
  color: #8bc541;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinema-item-inner
  .tab-content
  .item
  .content
  .address
  h6 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #a5a5a5;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinema-item-inner
  .tab-content
  .item
  .content
  .address
  span {
  color: #fb4226;
}

.homeCinema .container .homeCinemalist .cinema-item .cinemafilms__list {
  height: 45rem;
  overflow: auto;
  margin-top: 1rem;
  padding-right: 2rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item {
  border-bottom: 1px solid #ebebec;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  a {
  text-decoration: none;
  color: #000000;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .films-item {
  display: flex;
  justify-content: none;
  align-items: center;
  margin-bottom: 1rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .films-item
  .image {
  width: 4rem;
  height: 4rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .films-item
  .image
  img {
  width: 100%;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .films-item
  .content-info {
  margin: 0 1rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .films-item
  .content-info
  .tagfilms {
  border: none;
  border-radius: 0.3rem;
  outline: none;
  background: #fb4226;
  color: #ffffff;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .films-item
  .content-info
  .tagfilms-P {
  background: #00ac4d;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .films-item
  .content-info
  span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 1rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .films-item
  .content-info
  h6 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #a5a5a5;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .digital {
  font-weight: 500;
  margin-bottom: 0;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .listbtn-time {
  margin-top: 0.5rem;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .listbtn-time
  .itembtn-time
  a {
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background: #fafafa;
  color: #949494;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .listbtn-time
  .itembtn-time
  a
  span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #00ac4d;
}

.homeCinema
  .container
  .homeCinemalist
  .cinema-item
  .cinemafilms__list
  .cinemafilms__item
  .content__films
  .listbtn-time
  .itembtn-time
  a
  span:hover {
  color: #fb4226;
}

.homeCinema .container .homeCinemalist .cinema-item-last {
  padding-right: 0;
  border-right: none;
}
/*#endregion homeCinema*/

/*#region newblock*/
.newsblock a {
  text-decoration: none;
  color: #000000;
}

.newsblock .container .newsblockNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.newsblock .container .newsblockNav .nav-tabs {
  border: none;
}

.newsblock .container .newsblockNav .nav-tabs .nav-link {
  border: none;
}

.newsblock .container .newsblockNav a {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000000;
  margin: 0 1rem;
  transition: all 0.15s linear;
}

.newsblock .container .newsblockNav .active {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fb4226;
}

.newsblock .container .newsblockNav .Rv-Km:hover {
  font-size: 1.5rem;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card {
  border: none;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  img {
  border-radius: 0.4rem;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body {
  padding: 0;
  margin: 1rem 0;
  text-align: left;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .card-title {
  height: 3.5rem;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .card-title
  a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .card-title
  a:hover {
  color: #fb4226;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .card-text {
  height: 7rem;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .card-text--2 {
  height: 5rem;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .newsblock-icon {
  color: #ebebec;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .newsblock-icon
  .iconlikecmt {
  margin: 0 0.5rem;
  color: #ebebec;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .newsblock-icon
  .iconlikecmt:hover {
  transform: scale(1.2);
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card
  .card-body
  .newsblock-icon
  .iconlikecmt
  span {
  margin-right: 2rem;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card--child {
  display: flex;
  justify-content: none;
  align-items: center;
  margin-bottom: 1rem;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card--child
  img {
  height: 4rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
}

.newsblock
  .container
  .newsblock__content
  .newsblock__content-list
  .newsblock__content-item
  .newsblock-card--child
  a:hover {
  color: #fb4226;
}

.newsblock .container .newsblock__content .btn-more {
  display: flex;
  justify-content: center;
  align-items: none;
  margin: 5rem 0;
}

.newsblock .container .newsblock__content .btn-more button {
  border: 1px solid #949494;
  border-radius: 0.3rem;
  outline: none;
  background: transparent;
  color: #949494;
  padding: 0.3rem 1rem;
}

.newsblock .container .newsblock__content .btn-more button:hover {
  border: 1px solid #fb4226;
  border-radius: 0.3rem;
  outline: none;
  background: #fb4226;
  color: #ffffff;
}
/*#endregion newblock*/

/*#region appCinema*/
.appCinema .appCinema__background {
  height: 40rem;
  background: url(../../img/backapp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.appCinema .appCinema__background .container {
  display: flx;
  justify-content: none;
  align-items: center;
  position: relative;
  height: 40rem;
}

.appCinema .appCinema__background .appCinema__content {
  display: flex;
  justify-content: none;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}

.appCinema .appCinema__background .appCinema__content .appCinema__download {
  width: 50%;
  position: relative;
  bottom: 50%;
  padding: 0 2rem;
}

.appCinema .appCinema__background .appCinema__content .appCinema__download h1 {
  line-height: 4rem;
}

.appCinema .appCinema__background .appCinema__content .appCinema__download p {
  word-spacing: 0.1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 2rem 0;
}

.appCinema
  .appCinema__background
  .appCinema__content
  .appCinema__download
  button {
  border: none;
  border-radius: 0.3rem;
  outline: none;
  background: #fb4226;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.appCinema
  .appCinema__background
  .appCinema__content
  .appCinema__download
  span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  display: block;
  margin-top: 1rem;
  word-spacing: 0.2rem;
}

.appCinema
  .appCinema__background
  .appCinema__content
  .appCinema__download
  span
  a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.appCinema .appCinema__background .appCinema__content .appCinema__mobile {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  width: 50%;
  position: relative;
  bottom: 50%;
  position: relative;
}

.appCinema
  .appCinema__background
  .appCinema__content
  .appCinema__mobile
  .appCinema__mobile-img {
  width: calc(100% / 3);
}

.appCinema
  .appCinema__background
  .appCinema__content
  .appCinema__mobile
  .appCinema__mobile-img
  img {
  width: 100%;
}

.appCinema
  .appCinema__background
  .appCinema__content
  .appCinema__mobile
  .appCinema__mobile--slide {
  padding: 0.5rem 0.4rem 0.4rem 0.4rem;
  width: calc(100% / 3);
  height: 100%;
  position: absolute;
  top: 0;
}

.appCinema
  .appCinema__background
  .appCinema__content
  .appCinema__mobile
  .appCinema__mobile--slide
  img {
  border-radius: 1rem;
}
/*#endregion appCinema*/

/*#region back to top */
.footer .backtotop {
  display: inline-block;
  background-color: #fb4226;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 5px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.footer .backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 45px;
  color: #fff;
}
.footer .backtotop:hover {
  cursor: pointer;
  background-color: #333;
}
.footer .backtotop:active {
  background-color: #555;
}
.footer .backtotop.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.footer .backtotop .content {
  width: 77%;
  margin: 50px auto;
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .footer .backtotop .content {
    width: 43%;
  }
  .footer .backtotop {
    margin: 30px;
  }
}
.footer .backtotop .content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.footer .backtotop .content h3 {
  font-style: italic;
  color: #96a2a7;
}
/*#endregion back to top */

/*#region Footer*/

.footer {
  background: #222222;
}

.footer a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #949494;
}

.footer a:hover {
  color: #ffffff;
}

.footer .container .footer-top {
  color: #ffffff;
  padding-top: 2rem;
}

.footer .container .footer-top .footer-top-partner p {
  padding: 0 1rem;
}

.footer .container .footer-top .footer-top-partner a {
  background: #ffffff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50rem;
  margin: 0 0.7rem 1.4rem 0.7rem;
}

.footer .container .footer-top .footer-top-partner a img {
  border-radius: 50rem;
  width: 100%;
}

.footer .container .footer-top .footer-top-appsocial {
  text-align: center;
}

.footer .container .footer-top .footer-top-appsocial a {
  display: inline;
  margin: 0 1rem;
}

.footer .container .footer-top .footer-top-appsocial a img {
  height: 2.5rem;
}
/*#endregion Footer*/

/*# sourceMappingURL=index_tix.css.map */
