* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-image: url(/img/chong-nguoi-ta-c18-16027366912559_215x318.png);
    background-repeat: no-repeat;
    background-size: 100% 1500px;
}

/*#region myHeader*/
.myHeader {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.myHeader .navbar-toggler {
  outline: none;
}

.myHeader .navbar-brand img {
  height: 3.125rem;
}

.myHeader .navbar-nav .nav-link {
  color: #000 !important;
  font-size: 1rem;
}

.myHeader .navbar-nav .nav-link:hover {
  color: #fb4226 !important;
}

.myHeader .menu-right a {
  padding: 0rem 0.75rem;
  text-decoration: none;
  color: #9b9b9b;
  font-size: 0.875rem;
}

.myHeader .menu-right .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myHeader .menu-right .login i {
  font-size: 1.3rem;
  line-height: 1px;
  margin-right: 1rem;
}

.myHeader .menu-right .location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myHeader .menu-right .location .city .namecity {
  color: #949494;
  border: none;
}
/*#endregion myHeader*/

/*#region thong tin phim*/
.background{
  background: rgba(10, 32, 41, 0.85);
}

.background .content-phim {
  padding: 200px 0;
  background: linear-gradient(to top, #0a2029, #0a2029, transparent 100%);
  
}

.content-phim .detail-phim .container .info-detail-phim .chi-tiet-phim {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-phim .detail-phim .container .chi-tiet-phim .image-phim img {
  width: 100%;
  border-radius: 10px;
}
.content-phim .detail-phim .container .chi-tiet-phim .info-phim {
  color: #e9e9e9;
}

.content-phim
  .detail-phim
  .container
  .chi-tiet-phim
  .info-phim
  .text-info-phim {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-phim
  .detail-phim
  .container
  .chi-tiet-phim
  .info-phim
  .text-info-phim
  b {
  padding: 5px 8px;
  background: #fb4226;
  border-radius: 5px;
}

.content-phim .detail-phim .container .chi-tiet-phim .info-phim button {
  padding: 10px 40px;
  background: #fb4226;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.content-phim .detail-phim .container .danhgia-phim {
  transform: translate(80px, 100px);
  display: inline-block;
}

.content-phim .detail-phim .container .danhgia-phim .item .circlePercent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7.5rem;
  height: 7.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-phim .detail-phim .container .danhgia-phim .item .circlePercent .rate {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 400;
  padding: 0.25rem;
  border-radius: 50%;
  border: 0.5rem solid #8bc541;
}

.content-phim .detail-phim .container .danhgia-phim .item .circlePercent .star {
  margin: 0.5rem auto 0.5rem auto;
}

.content-phim
  .detail-phim
  .container
  .danhgia-phim
  .item
  .circlePercent
  .star
  i {
  color: #fb4226;
  font-size: 1.25rem;
  font-weight: 600;
}

.content-phim .detail-phim .container .danhgia-phim .item .circlePercent p {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
}

.content-phim .tab-content-phim .container {
  margin-top: 100px;
  color: #fff;
}

.content-phim .tab-content-phim .container .nav-content .nav-tabs {
  justify-content: center;
  margin-bottom: 30px;
}

.content-phim .tab-content-phim .container .nav-content .nav-tabs .nav-link {
  border: none;
  font-weight: 500;
  font-size: 22px;
}

.content-phim .tab-content-phim .container .nav-content .nav-tabs,
.content-phim
  .tab-content-phim
  .container
  .nav-content
  .nav-tabs
  .nav-link:hover {
  border: none;
}

.content-phim .tab-content-phim .container .nav-content .nav-tabs .nav-link {
  color: #fff;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .nav-tabs
  .nav-link.active {
  background: none;
  color: #fb4226;
}

.content-phim .tab-content-phim .container .nav-content .tab-content .cum-rap {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .cum-rap
  .image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  margin: 10px;
  cursor: pointer;
}
.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .cum-rap
  .image
  img {
  width: 100%;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim {
  background: #eae7e7;
  border-radius: 20px;
  color: #000;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .list-rap-phim {
  border-right: 1px solid #b5afaf;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .list-rap {
  padding: 10px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .list-rap
  .rap-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  border-bottom: 1px solid #b5afaf;
  padding-bottom: 5px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .list-rap
  .rap-item:last-child {
  border: none;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .list-rap
  .rap-item
  img {
  width: 50px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .list-rap
  .rap-item
  .info-rap {
  margin-left: 10px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .list-rap
  .rap-item
  .info-rap
  span {
  color: #fb4226;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .list-rap
  .rap-item
  .info-rap
  p {
  font-size: 16px;
  color: #4c4a4a;
  margin: 0;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .nav-tabs
  .nav-link.active {
  color: #fb4226;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .nav-tabs
  .nav-item {
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim {
  margin-bottom: 30px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .phim-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .phim-item
  img {
  width: 70px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .phim-item
  .text-info-phim {
  margin-left: 30px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .phim-item
  .text-info-phim
  h4 {
  margin: 0 !important;
  font-size: 20px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .phim-item
  .text-info-phim
  h4
  b {
  background: red;
  padding: 3px 7px;
  border-radius: 5px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .phim-item
  .text-info-phim
  p {
  margin: 5px 0 0 0;
  color: #676262;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .gio-chieu {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .gio-chieu
  b {
  background: #f3be00;
  padding: 5px 10px;
  margin: 0 30px;
  color: #fff;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .gio-chieu
  button {
  margin: 0 10px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .lich-chieu-phim
  .thoi-gian-chieu
  .thu-ngay
  .content-item-phim
  .phim-3D
  b {
  background: #961605;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .thong-tin-phim
  .thong-tin
  .table {
  color: #fff;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .thong-tin-phim
  .thong-tin
  .table
  tr
  td:first-child {
  font-weight: 500;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .thong-tin-phim
  .thong-tin
  .table
  td {
  border-top: none;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .thong-tin-phim
  .trailer-phim {
  text-align: center;
  margin-top: 50px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .thong-tin-phim
  .trailer-phim
  .trailer {
  text-align: left;
  margin-bottom: 50px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .thong-tin-phim
  .trailer-phim
  .trailer
  span {
  padding: 15px 30px;
  background: #fb4226;
  font-size: 22px;
  font-weight: 500;
  border-radius: 0 50px 0 50px;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content
  .thong-tin-phim
  .trailer-phim
  iframe {
  margin: 0 auto;
}

.content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content .tab-danh-gia-phim .danh-gia-ca-nhan,
  .content-phim
  .tab-content-phim
  .container
  .nav-content
  .tab-content .tab-danh-gia-phim .list-binh-luan{
    width: 60%;
    margin: 0 auto;
    background: #fff;
    color: #a59b9b;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .tab-content .tab-danh-gia-phim .danh-gia-ca-nhan .row,
  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .row{
    align-items: center;
  }

  .tab-content .tab-danh-gia-phim .danh-gia-ca-nhan .logo-text,
  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .logo-text{
    display: flex;
    align-items: center;
  }
  .tab-content .tab-danh-gia-phim .danh-gia-ca-nhan .logo-text i,
  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .logo-text i{
    font-size: 40px;
    margin-right: 10px;
  }
  .tab-content .tab-danh-gia-phim .danh-gia-ca-nhan .star-danh-gia,
  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .star-danh-gia{
    text-align: right;
    color: #ff7f6c;
  }
  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .row .logo-text .text {
    line-height: 1;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .row .logo-text .text p{
    margin: 0;
    color: #000;
    font-weight: 500;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .row .logo-text .text span{
    font-size: 12px;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .row .diem-danh-gia{
    text-align: right;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .row .diem-danh-gia p{
    margin: 0;
    margin-right: 30px;
    color: #35e409;
    font-weight: 500;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .row .diem-danh-gia .star-danh-gia i{
    font-size: 10px;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .comment-like{
    margin-top: 15px;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .comment-like .comment span{
    font-size: 15px;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .comment-like .like{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #d4cdcd;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .comment-like .like i{
    font-size: 20px;
  }

  .tab-content .tab-danh-gia-phim .list-binh-luan .item-binh-luan .comment-like .like span{
    margin: 0 10px;
    font-weight: 500;
  }

  /*#region modal comment*/
  .tab-content .modal .modal-dialog .modal-content .modal-header {
    padding: 10px 10px 0 0;
    border: none;
  }
  .tab-content .modal .modal-dialog .modal-content .modal-body{
    padding: 0;
    text-align: center;
    color: #fb4226;
  }
  .tab-content .modal .modal-dialog .modal-content .modal-body p{
    margin: 0;
  }
  .tab-content .modal .modal-dialog .modal-content .modal-body textarea{
    width: 85%;
    height: 80px;
    margin: 30px 0;
    padding: 20px;
  }
  .tab-content .modal .modal-dialog .modal-content .modal-body button{
    background: #fb4226;
    margin-bottom: 20px;
    outline: none;
    border: none;
    margin-left: 370px;
    color: #fff;
  }
  /*#endregion modal comment*/

/*#endregion thong tin phim*/

/*#region Footer*/

.footer {
  background: #222222;
}

.footer a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #949494;
}

.footer a:hover {
  color: #ffffff;
}

.footer .container .footer-top {
  color: #ffffff;
  padding-top: 2rem;
}

.footer .container .footer-top .footer-top-partner p {
  padding: 0 1rem;
}

.footer .container .footer-top .footer-top-partner a {
  background: #ffffff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50rem;
  margin: 0 0.7rem 1.4rem 0.7rem;
}

.footer .container .footer-top .footer-top-partner a img {
  border-radius: 50rem;
  width: 100%;
}

.footer .container .footer-top .footer-top-appsocial {
  text-align: center;
}

.footer .container .footer-top .footer-top-appsocial a {
  display: inline;
  margin: 0 1rem;
}

.footer .container .footer-top .footer-top-appsocial a img {
  height: 2.5rem;
}
/*#endregion Footer*/
