.myHeader {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
  left: 0;
  right: 0;
  .navbar-brand {
    img {
      height: 3.125*$spacing;
    }
  }
  .navbar-nav {
    .nav-link {
      color: $blackTx !important;
      font-size: $text-md;
    }
    .nav-link:hover {
      color: $primaryTx !important;
    }
  }
  .menu-right {
    a {
      padding: 0rem 0.75rem;
      text-decoration: none;
      @include text-xs($grey, $text-sm);
    }
    .login {
      @include Flex(flex, center, center);
      i {
        font-size: $text-lg;
        line-height: 1px;
        margin-right: $spacing;
      }
    }

    .location{
      @include Flex(flex, center, center);
      .namecity{
        color: $gray-500Tx;
        border: none;
      }
    }
  }
}
